*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.swiggy-logo{
    width: 50px;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 8px;
    transition: transform 0.3s ease;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:Gilroy, arial, Helvetica Neue, sans-serif;
    font-weight: 500;
    margin-top: 15px;
    box-shadow: 2px 3px 3px rgba(0, 0,0,0.15);
   
}
.nav-container a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;

sup{
    color: rgb(255, 98, 0);
    font-size: x-small;
}
   
}
a span{
    vertical-align: middle;
   margin-bottom: 4px;
   
}
.swiggy-logo:hover{
    transform: scale(1.1);
}
.nav-container a:hover{
    color: rgb(255, 98, 0);
}