/* Desktop: default CSS */


/* Tablet */
@media (max-width: 900px) {

    .nav-container {
     flex-shrink: 1;
    }
    .hero-container{
     flex-direction: column;
    }
    .resturant-chains{
     flex-direction: column;
    }
    .places{
     flex-wrap: wrap;
     
    }
   .online-food-delivery{
     flex-wrap: wrap;
     margin-right: 90px;
   }
}


/* Mobile */
@media (max-width: 600px) {
     .nav-container {
     flex-direction: column;
     gap: 15px;
     align-items: center;
     justify-content: center;
    }
    .swiggy-logo{
     margin-left:5px;
    }
    .nav-container:hover{
     border-bottom: 1px solid rgba(186, 88, 32, 0.712);
    }
    .heading{
     margin-right: 165px;
     font-size: larger;
    }
    .hero-container{
     flex-direction: column;
     margin-right: 50px;
    }
    .resturant{
     margin-right: 210px;
    }
    .resturant-chains{
     flex-direction: column;
    }
    .places{
    flex-direction: column;
    margin-left: 110px;
     
    }
    .online{
     margin-right: 190px;
    }
   .online-food-delivery{
    flex-direction: column;
     margin-right: 90px;
   }
   .footer{
     margin-right: 90px;
   }
}
@media (min-width: 600px) and (max-width: 900px){
      .nav-container{
          gap: 10px;
      }
     .heading{
     margin-left: 315px;
     font-size: x-large;
    }
    .resturant{
     margin-left: 210px;
    }
    .places{
     margin-left: 110px;
     flex-wrap: wrap;
    }
}